<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgd4cRQEHdPr651rxYREKEr-mWFWXynnU</string>
	<key>GCM_SENDER_ID</key>
	<string>668723967309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freelance.skill</string>
	<key>PROJECT_ID</key>
	<string>skill-link-281a0</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-link-281a0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668723967309:ios:b95d16bad5b2ab55cd7304</string>
</dict>
</plist>